{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('bfh/js/bootstrap-formhelpers-phone.js') }}"></script>
{% endblock %}

{% block header %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form id="msform">
                <!-- progressbar -->
                <ul id="progressbar">
                    <li class="active">Номер мобильного</li>
                    <li>Проверочный код</li>
                    <li>Наслождайтесь</li>
                </ul>
                <!-- fieldsets -->
                <fieldset>
                    <h3 class="fs-subtitle">Введите норме мобильного</h3>
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone) }}
                    <input type="button" name="next" class="next action-button" value="Продолжить"/>
                </fieldset>
                <fieldset>
                    <h3 class="fs-subtitle">Введите смс код</h3>
                    {{ form_label(form.smscode) }}
                    {{ form_widget(form.smscode) }}
                    <input type="button" name="next" class="next action-button" value="Начать играть"/>
                </fieldset>
            </form>

        </div>
    </div>
    <div class="window-BG" id="alert">
        <div class="window">
            <div id="alert-title" class="win-img-text">{{ 'Please solve below errors'|trans }}:</div>
            <div id="alert-text" class="win-text">
                <div style="color: white; text-align: justify;">
                    {{ form_errors(form) }}
                </div>    
            </div>
            <div class="window-close win-close-2">{{ 'Close'|trans }}</div>
        </div>
    </div>
{% endblock %}
{% block body %}
    <section>
        <div class="trend-w3layouts">
            <div class="container">
                <h2>Лучшие игры в твоем мобильном</h2>
                <ul id="flexiselDemo1">
                    <li>
                        <div class="trend-grid">
                            <h4>Racing Games</h4>
                            <img src="{{ asset('img/tg1.jpg') }}" alt=" " class="img-responsive" />
                        </div>
                    </li>
                    <li>
                        <div class="trend-grid">
                            <h4>3D Games</h4>
                            <img src="{{ asset('img/tg2.jpg') }}" alt=" " class="img-responsive" />
                        </div>
                    </li>
                    <li>
                        <div class="trend-grid">
                            <h4>Action Games</h4>
                            <img src="{{ asset('img/tg3.jpg') }}" alt=" " class="img-responsive" />
                        </div>
                    </li>
                    <li>
                        <div class="trend-grid">
                            <h4>Toy Games</h4>
                            <img src="{{ asset('img/tg4.jpg') }}" alt=" " class="img-responsive" />
                        </div>
                    </li>
                </ul>
                <script type="text/javascript" src="{{ asset('js/jquery.flexisel.js') }}"></script>
                <script type="text/javascript">
                    $(window).load(function() {
                        $("#flexiselDemo1").flexisel({
                            visibleItems: 4,
                            animationSpeed: 1000,
                            autoPlay: true,
                            autoPlaySpeed: 3000,
                            pauseOnHover: true,
                            enableResponsiveBreakpoints: true,
                            responsiveBreakpoints: {
                                portrait: {
                                    changePoint:480,
                                    visibleItems: 2
                                },
                                landscape: {
                                    changePoint:640,
                                    visibleItems:3
                                },
                                tablet: {
                                    changePoint:768,
                                    visibleItems: 4
                                }
                            }
                        });

                    });
                </script>
            </div>
        </div>
    </section>
{% endblock %}    
